* {
    box-sizing: border-box;
  }

  
  
  body {
    margin: 0;
    padding: 0;
    background-image: url("./img/background.jpg");
  }
  
  .container {
    margin: 0 auto;
    width: 100%;
    max-width: 1300px;
  }

  .filters-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }


  
  .main_title {
    position: relative;
    font-size: 3em;
    font-weight: 800;
    text-align: center;
  }
  
  h1::after {
    content: "";
    position: absolute;
    bottom: -15px;
    right: 50% ;
    transform: translateX(50%);
    height: 5px;
    width: 20%;
    background: #ad8d20;
  }
  
  .filter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }
  
  .filter-btn + .filter-btn{
      margin-left: 20px;
  }
  
  .filter-btn {
    padding: 10px 20px;
    font-size: 1.25em;
    color: #ad8d20;
    border: 2px solid #ad8d20;
    background: transparent;
  }
  
  .filter-btn:hover {
    color: #fff;
    border: 2px solid #ad8d20;
    background: #ad8d20;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .photo {
    min-width: 350px;
    border: 5px solid #ad8d20;
    border-radius: 20px;
  }

  
  .active{
      color: #fff;
      border: 2px solid #ad8d20;
      background: #ad8d20;
  }
  
  .menu-item {
    display: flex;
    width: calc(50% - 15px);
    margin-bottom: 30px;
  }
  
  .menu-item-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  
  .menu-item-content .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;
  }
  .menu-item-content .title .price {
    color: #ad8d20;
    font-weight: 900;
    font-size: 1.25em;
  }
  
  .menu-item-content p {
    color: #686565;
  }
  